.wrapper {
    display: block;
    margin-left: auto;
    width: 250px;
}

.container {
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: inset -2px -2px 6px 0 rgba(0,0,0,0.2), inset 2px 2px 6px 0 rgba(255,255,255,0.83);
}

.userInfo {
    
}