.action__button {
    height: 45px;
    width: 250px;
    background: #efcef0;
    color: white;
    font-weight: 800;
    text-decoration: none;
    border: solid 3px white;
    border-radius: 12px;
    transition: .5s;
    cursor: pointer;
    outline: none;

    &:hover {
        background: #9da6c9;
    }

    &:active {
        background: #ccd3f0;
    }
}