.action__button {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #efcef0;
    color: white;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    border: solid 3px white;
    transition: .5s;
    cursor: pointer;
    outline: none;
    
    &:hover {
        background: #9da6c9;
    }

    &:active {
        background: #ccd3f0;
    }
}