.wrapper {
    display: flex;
    flex: 1 0 auto;
    width: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.dialog {
    list-style-type: none;
}