
.wrapper {
    width: 100%;
    background: transparent;
}


.container {
    display: flex;
    justify-content: center;
}

.infoContainer {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoText {
    text-align: center;
    color: rgba(0,0,0,0.3);
}

