.wrapper {
    display: flex;
    flex: 1 0 auto;
    width: inherit;
}

.container {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background-color:#efcef0;
    box-shadow: inset -2px -2px 6px 0 rgba(0,0,0,0.2), inset 2px 2px 6px 0 rgba(255,255,255,0.83);
}

.messagesField {
    width: 80%;
    height: 68vh;
    overflow: auto;
}

.userInfo {
    
}